body    {
    /*background-image: url(/assets/images/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg);*/
    background: #000000;
    color:  #fdfcf1;
    font-family: 'Cinzel', serif;
}

.wrapper    {
    min-height: calc(100vh - 70px);
}

header  {
    text-align: center;
    font-size: 70px;
    margin: 20px;  
    width: 100%;
    background: #070707;
    border-top: 1px solid #38320d;
    border-bottom: 1px solid #38320d;
}

#input  {
    width: 250px;
    color:  #fdfcf1;
}

#text-input  {
    width: 250px;
    margin-bottom: 10px;
    background: #070707;
    color:  #fdfcf1;
    border: 1px solid #38320d;
}

.gif-father,
.gif-fathers {
    background: #070707;
    border: 1px solid #38320d;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #fdfcf1;
}

.gif-father:hover,
.gif-fathers:hover {
    background: #fdfcf1;
    color: #070707;
}

footer  {
    text-align: center;
    font-size: 70px;
    margin: 20px;  
    height: 50px;
    width: 100%;
    background: #070707;
    border-top: 1px solid #38320d;
}