body    {
    background: #070707;
    color:  #fdfcf1;
    font-family: 'Cinzel', serif;
}

.wrapper    {
    min-height: calc(100vh - 70px);
}

#bg     {
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

#gif-form   {
    margin-top: 20px;
}

#input  {
    width: 250px;
    color:  #fdfcf1;
}

#text-input  {
    width: 250px;
    margin-bottom: 10px;
    background: #070707;
    color:  #fdfcf1;
    border: 1px solid #38320d;
}

#gif-btns   {
    padding: 20px;
}

.gif-father,
.gif-fathers {
    background: #070707;
    border: 1px solid #38320d;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #fdfcf1;
}

.gif-father:hover,
.gif-fathers:hover {
    background: #fdfcf1;
    color: #070707;
}

header  {
    text-align: center;
    font-size: 70px;
    margin: 20px;  
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #38320d;
}

footer  {
    text-align: center;
    font-size: 70px;
    margin: 20px;  
    height: 50px;
    width: 100%;
    border-top: 1px solid #38320d;
}

#submit {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#gifs-giphies   {
    margin-top: 60px;
    font-style: italic;
    color: #6b6b6b;
}